@charset "utf-8";

// Import a Google Font
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');

// Set your brand colors
$purple: #8A4D76;
$pink: #FA7C91;
$brown: #757763;
$beige-light: #D0D1CD;
$beige-lighter: #EFF0EB;
$night: #171c28;
$source-sans-pro: "Source Sans Pro";

// Update Bulma's global variables
$primary: $purple;
$link: $pink;
$danger: $night;


// Update some of Bulma's component variables

// $body-background-color: $beige-lighter;
// $control-border-width: 2px;
// $input-border-color: transparent;
// $input-shadow: none;
$family-primary: $source-sans-pro;

// Import only what you need from Bulma
@import "../node_modules/bulma/bulma.sass";


h1 {
    margin-block-start: 0.1em;
    margin-block-end: 1.22em;
    margin-inline-start: 0px;
    margin-inline-end: 0px; 
    color:#fff5c0;
    text-align:center;
  } 

h2 {
    color: #fff5c0;
    text-align:center;
    margin: 0 auto;
    max-width: 666px;
}

.intro_contact {
    justify-content: space-between;
    display: flex;
    margin: 0 auto;
    max-width: 235px;
    margin-top: 30rem;
}

.globe_gif {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -50px 0px 0px -150px;
}

.down_arrow {
    
    display: flex;
    margin: auto;
    margin-right: 450px;
    max-width: 235px;
    margin-top: 4.5rem;
}

ion-icon {
    font-size: 24px;
    color: #fff5c0;
  }